name: main-cicd

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
        

      - name:   withrite Name
        run: |
          echo ${{secrets.DOCKER_USERNAME}}
          echo ${{secrets.DOCKER_PASSWORD}}
          echo ${{vars.TEST}}
        
      - name: List Files
        run: |
          ls

      - name : Linux Invalid Command
        run: |
          echo "Im going to use [ech 'Blah Blah Blah'] as the command below."
          echo "Blah Blah Blah"
        
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m pip install flake8


      - name: Lint Check
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Check out branch
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build and Push Image
        run: |
          docker build -t ${{secrets.DOCKER_USERNAME}}/devops:${{ github.sha }} .
          docker push ${{secrets.DOCKER_USERNAME}}/devops:${{ github.sha }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'dv-cute-perch'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: '${{ secrets.DOCKER_USERNAME }}/devops:${{ github.sha }}'



